p.centre_blue
{
text-align: center;
color: blue;

font-size: 150%;
}

p.centre
{
text-align: center;
color: default;

font-size: 100%;
}

p.centre_small
{
text-align: center;
color: default;

font-size: 70%;
}

p.centre_big{
text-align: center;
color: default;

font-size: 150%;
}

P.right{
text-align: right;
}


p.s120 { 

font-size : 150%;
font-weight: bolder;}

p.s150 { 
font-weight: bolder;
font-size : 100% ;}
p.s200 { 

font-size : 200% ;}
p.s80 { 

font-size : 80% ;}
p.s50 { 

font-size : 50% ;}
p.s20 { 

font-size : 20% ;}



H3.blue
{
text-align: left;
color: blue;
font-family: arial
}

H3.yellow
{
text-align: left;
color: yellow;
font-family: arial
}

H3.red
{
text-align: left;
color: red;
font-family: arial
}

H3.gray
{
text-align: left;
color: gray;
font-family: arial
}

H3.green
{
text-align: left;
color: green;
font-family: arial
}














body.yellow
{ background-color: yellow;} 

body.red
{ background-color: red;} 

body.gray
{ background-color: gray;} 

body.blue
{ background-color: blue;} 

body.green
{ background-color: green;} 

body.white
{ background-color: white;}

body.aqua
{ background-color: aqua ;} 

body.LightGoldenRodYellow
{ background-color: LightGoldenRodYellow ;}

H4{
font-family: Arial;
 font-size:default ; color:blue; text-decoration:underline; 
 }

H5{
font-family: Arial;
font-size:default ; color:red; text-decoration:underline;
}



